.root {
  height: 100%;
}
.search-bar {
  height: 10%;
  width: calc(100% - 2px);
  margin: 0%;
  padding: 0px 0px 0px 2px;
  border: 0px solid black;
  font-size: 1vw;
  background-color: #e7e7e7;
}
.servers-list {
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  height: 90%;
}

/* width */
.servers-list::-webkit-scrollbar {
  width: 0.8vw;
}

/* Track */
.servers-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.servers-list::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.servers-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
